{% extends "base.twig" %}

{% block title %}Desafio PHP - Listar Clientes{% endblock title %}

{% block content %}
<h2>Lista de clientes</h2>
<a class="btn btn-primary" href="{{ path_for('clientes-cadastro') }}">Cadastrar Cliente</a>
<ul class="list-group">
    {% for cliente in clientes %}
        <li class="list-group-item">{{ cliente.nome }}</li>
    {% endfor %}
</ul>
{% endblock content %}