{% extends "base.twig" %}

{% block title %}Desafio PHP - Listar Clientes{% endblock title %}

{% block content %}
<h2>Lista de categorias de produtos</h2>
<a class="btn btn-primary" href="{{ path_for('clientes-cadastro') }}">Cadastrar</a>
<ul class="list-group">
    {% if categorias|length > 0 %}
        {% for categoria in categorias %}
            <li class="list-group-item">{{ categoria.nome }}</li>
        {% endfor %}
    {% else %}
        <li class="list-group-item">Não existem categorias cadastradas...</li>
    {% endif %}
</ul>
{% endblock content %}